/*************** section two ***************/

@use "base/variables" as v;
@use "base/mixins" as m;

.section-two {
  margin: 6rem 2rem;
  @include m.desktop {
    margin: 10rem 12rem;
  }
  @include m.desktopXL {
    margin: 12rem 14rem;
  }

  h2 {
    width: 26.52rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #333333;
    margin-left: 2rem;
    margin-right: 5rem;
    @include m.tablet {
      width: 24rem;
    }
    @include m.desktop {
      font-size: 3.6rem;
      line-height: 5.4rem;
      width: 32rem;
    }
  }

  .services {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;

    @include m.tablet {
      flex-direction: row;
      align-items: baseline;
    }

    .card {
      display: flex;
      flex-direction: column;
      border: none;
      border-radius: 2.4rem;
      row-gap: 1rem;
      padding: 3rem 2.5rem;
      @include m.tablet {
        padding: 2rem 3rem;
      }
      @include m.desktop {
        padding: 3rem 4rem;
      }
      @include m.desktopXL {
        padding: 4rem 6rem;
      }

      .card-icon {
        width: fit-content;
        padding: 2.05rem;
        border-radius: 1.4rem;
        border: none;

        span {
          color: v.$white;
        }
      }

      #card-icon-01 {
        background-color: #2d9cdb;
      }

      #card-icon-02 {
        background-color: #27ae60;
      }

      #card-icon-03 {
        background-color: #eb5757;
      }

      h3 {
        text-align: left;
        font-family: v.$poppins;
        font-style: normal;
        font-weight: bolder;
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: #333333;
      }

      .card-desc {
        text-align: left;
        font-family: v.$poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: #4f4f4f;
      }

      .card-button {
        // Text
        width: fit-content;
        font-family: v.$poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        // Button design
        padding: 0.9rem 1.3rem;
        background-color: #e0e0e0;
        border: none;
        border-radius: 1.2rem;
        cursor: pointer;
      }
      &:hover {
        box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
        border-radius: 2.4rem;

        .card-button {
          color: v.$white;
          background-color: #2d9cdb;
        }
      }
    }

    @include m.tablet {
      .card:not(:first-child):not(:last-child) {
        margin: 3rem 3rem;
      }
    }
  }
}
