/*************** globals ***************/

@use "variables" as v;

html {
  font-size: 62.5%; /* font-size base a nivel de html */
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$poppins;
  font-size: 16px; /* font-size base a nivel del documento */

  &.fijar-body {
    overflow: hidden; /* inmoviliza el body después de amplificar una imagen de la galería */
  }

  &.body-scroll {
    padding-top: 8.6rem;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;

  &-thumb {
    background: #f2f2f2;

    :hover {
      background: #828282;
    }
  }
}

p {
  font-size: 1.2rem;
  color: #4F4F4F;
  line-height: 1.5rem;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0 0 0 0;
  color: #333333;
}

h1 {
  font-size: 2.4rem;
  font-family: v.$heebo;
}

h2 {
  font-size: 2.4rem;
  font-family: v.$poppins;
}

h3 {
  font-size: 1.8rem;
  font-family: v.$poppins;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
