/*************** variables ***************/

// colors
$white: #ffffff;
$black: #000000;

// max-width values (media queries)
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1440px;

// Typography
$heebo: "Heebo", sans-serif;
$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
